
// Color

$Background-color: #fff;
$nav-background: #FF4500;
$close-color: #DBF2FF;
$media-color: #86AEE1;
$text-color: #000;
$text-invert: #fff;

// Fonts 

$Mont: 'Montserrat', sans-serif;
$Arial: Arial, Helvetica, sans-serif;















