@use "variables" as *;
@use "generalStyles" as *;
@use "header" as *;
@use "breakPoints" as *;
@use "mainSection" as *;

body {
  background-color: $Background-color;
  width: 100%;
  height: 100%;
}
